<footer>
        <div class="container">
            <br><br>
            <div class="row">
                <div class="col-sm-6">
                    
                    <ul style="list-style: none;">
                        <li><a ui-sref="app">Home</a></li>
                        <li><a ui-sref="app.games">Games</a></li>
                        <li><a ui-sref="app.about">About</a></li>
                        <li><a ui-sref="app.contact">Contact</a></li>
                    </ul>
                    
                    
                </div>
                <div class="col-sm-6">
                        Follow us on: 
                        <i class="fa fa-twitter" style="font-size:20px;"></i>
                        <i class="fa fa-facebook" style="font-size:20px;"></i>
                        <i class="fa fa-youtube" style="font-size:20px;"></i>
                        <i class="fa fa-google-plus" style="font-size:20px;"></i>
                    
                </div>
            </div>
           <div class="row" style="text-align: center">
               <div class="col-xs-12"><i class="fa fa-copyright fa-lg" aria-hidden="true"></i> 2016</div>
           </div>
     </div>
   </footer>